/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
/* Over rides the default stylesheet of a web browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: anta;
}
/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* generic project styles */
    color: 3a3a3a;
}

header {
    background-color: rgb(30, 255, 0);
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}
header a {
    
    text-decoration: none;
    color: inherit;
}
h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}
#menu {
    list-style-type: none;
    font-size: 110%;
    letter-spacing: 4px;
    background-color: ffffff;
}
#menu > li {
    margin-bottom: 1em;
}
.active {
    border-bottom: 1px solid #3a3a3a;
}
/* Navbar styles with dropdown toggle */

nav {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    background-color: #ffffff;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
}
/* NAv toggle */
/* nav toggle with psuedoclass and tilde for adjoining navigation */
#nav-toggle:checked~nav {
    display: block;
    top: 100%;
}
#nav-toggle {
    display: none;

}
.nav-toggle-label {
    font-size: 2rem;
}
/* logo size for desktop */
#logo {
    font-size: 200%;
    line-height: 75px;
    margin: 0 0.5rem;
}

/* main content */
main {
    background-color: rgb(35, 198, 248);
    /* make element take up surplus space */
    flex: 1 0 auto;
    margin-top: 79px;
}
/* Footer */
footer {
    background-color: rgb(200, 255, 0);
}
/* Media query tablets and larger(758px and upwards) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }
    #menu {
        display: flex;
    }
    #menu > li {
        padding-left: 1rem;
    }
    .nav-toggle-label {
        display: none;
    } 
}
